*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

li{
    list-style: none;
}

#Header{
    background-color: #f6f6f8;
}

#Header .container-fluid .header-top .row .header-top_left a{
    font-size: 14px;
    color: #727272;

}

.icon-class{
    font-size: 14px;
    color: #727272;
}


#Header .container-fluid .header-top .row .header-top_center{
    font-size: 14px;
    color: #727272;
    text-align: center;
}

.header-top_center span{
    font-size: 14px;
    color:#ec0101;
}
.header-top_center a{
    font-size: 14px;
    color: black;
    transition: .4s;
}

.header-top_right{
    position: relative;
}

.header-top_center a:hover{
    text-decoration: underline;

}

.header-top_right span{
    font-size: 12px;
    color: #727272;   
}

.country-dropdown{
    position: absolute;
    padding: 5px 15px;
    right: -12px;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    transition: .3s ;
    box-shadow: 0 1px 5px 2px rgb(0 0 0 / 10%);

}

.header-top_right:hover .country-dropdown{
    opacity: 1;
    visibility: visible;
    top: 30px;
}


.header-bottom{
    padding: 25px 0;
}

.navig-bar{
    display: flex;
    gap: 55px;
}

.mega-menu{
    display: flex;
    padding: 40px 100px;
    width: 100%;
    position: absolute;
    left: 0;
    gap: 40px;
    background-color: #fff;
    box-shadow:10px 10px 30px rgb(0 0 0 / 15%);
    top: 33%;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.mega-hover:hover .mega-menu{
    opacity: 1;
    visibility: visible !important;
    top: 16%;
}



.mega-menu > li{
    flex: 1 0;
}

.mega-menu > li > a{
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.ul-mega > li > a{
    font-size: 16px;
    display: block;
}

.ul-mega > li{
    margin-top: 10px;
}

@media (max-width:768px) {
    .header-top_left{
        text-align: center;
    }
    .header-top_right{
        text-align: center;
    }

    .country-dropdown{
        right: 42%;
    }
}
