*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

.header-section{
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
    padding: 10px 15px;
    box-shadow: 1px 4px 5px 0px rgba(28,30,34,1);
    -webkit-box-shadow: 1px 4px 5px 0px rgba(28,30,34,1);
    -moz-box-shadow: 1px 4px 5px 0px rgba(28,30,34,1);
}

.header-section .header-right ul{
    display: flex;
}

.header-section .header-right ul li{
    margin-left: 15px;
    list-style: none;
}

.header-section .header-right ul li a{
    color: #c4cfde;
    margin: 0.5rem 1rem;
    transition: .3s;
    border-bottom: 1px solid transparent;
}

.header-section .header-right ul li a:hover{
    color: white;
    border-bottom: 1px solid pink;

}

.active{
    color: white !important;
}

main{
    background-color:#212529;
}

main .container .main-content{
    padding: 61px 6rem;
}

.main-text-top{
    font-size: 14px;
    color: #f9004d;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main-text-bottom{
    font-size: 60px;
    margin-top: 15px;
    color: #c4cfde;
    font-weight: 600;
}

.main-content .main-footer{
    display: flex;
    justify-content: space-between;
}

.main-content .main-footer .main-footer_left{
    width: 30%;
}

.main-content .main-footer .main-footer_left ul{
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
-webkit-box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
-moz-box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
}

.main-content .main-footer .main-footer_left ul li{
    background-color: white;
    border-radius: 5px;
    /* box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
-webkit-box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
-moz-box-shadow: 0px 0px 12px 8px rgba(28,30,34,1); */
border: 1px solid #212529;
background-color: #212529;
transition: .4s;
}

.main-content .main-footer .main-footer_left ul li a{
    padding: 30px 15px;
    display: block;
    font-size: 18px;
    color: #c4cfde;
    transition: .3s;
}

.main-content .main-footer .main-footer_left ul li:hover a{
    color: #ff014f;
}

.main-content .main-footer .main-footer_left ul li:hover{
    box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
    -webkit-box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
    -moz-box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
    position: relative;
}

.active-box-shadow{
    box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
    -webkit-box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
    -moz-box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
    border: 1px solid black;
    position: relative;
}

.active-box-shadow a{
    color: #ff014f !important;
}

.main-footer_right{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.main-footer_right .box{
    width: 30%;
    box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
    -webkit-box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
    -moz-box-shadow: 0px 0px 12px 8px rgba(28,30,34,1);
    margin-bottom: 15px;
    border-radius: 10px;
}

.main-footer_right .box .box_top a img{
    padding: 15px;
}

.main-footer_right .box .box_bottom{
    padding: 16px;
    border-top: 1px solid black;
}

.main-footer_right .box .box_bottom a{
    color: #7c838e;
    font-size: 18px;
}